.cart {
  background-color: rgba(255, 153, 0, 0.3);
  padding: 45px 15px;
  position: sticky;
  top: 0;
}
.cart h4 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.cart p {
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
}
.cart .clear-cart-btn {
  width: 90%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  border: 0;
  border-radius: 4px;
  padding: 12px 15px;
  background-color: #FF3030;
  cursor: pointer;
}
.cart .link {
  text-decoration: none;
}
.cart .link .btn {
  width: 90%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  border: 0;
  border-radius: 4px;
  padding: 12px 15px;
  background-color: #FF9900;
  cursor: pointer;
}
