.order-page {
  background-color: #fffcfc;
}
.order-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 180px;
}
.order-products {
  display: flex;
  flex-direction: column;
  padding: 30px 0;
}
