.shops-area {
  background-color: #fffcfc;
}
.shops-wrapper {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 40px;
}
.products-container {
  padding: 80px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
}
